<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiles</title>
</head>

<body>
    <h1>All Mobiles</h1>
    <div>
        <a href="/mobiles/new">Add Mobile</a>
    </div>
    <ul>
        <% for (let mobile of mobiles){%>
        <li><a href="/mobiles/<%= mobile._id %>"><%= mobile.title %></a></li>
        <% }%>
    </ul>

</body>

</html>