<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Mobile</title>
</head>

<body>
    <form action="/mobiles" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="mobile[title]">
        </div>
        <button>Add Mobile</button>
    </form>
    <a href="/mobiles">All Mobile</a>

</body>

</html>