<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1><%= mobile.title %></h1>
  
    <p> <a href="/mobiles/<%=mobile._id%>/edit">Edit</a>
    </p>
    <p> </p>
    <p>
    <form action="/mobiles/<%=mobile._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/mobiles">All Mobiles</a>
    </footer>
</body>

</html>